{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <p class="description1">Are you new to quantum computing or need a recap?</p>
        <hr class="separator1">
        <p class="description2">Follow the link to IBM’s Quantum Experience for a quick introduction to Quantum computing</p>
        <a href="https://quantum.ibm.com/" class="buttonIBM">IBM Quantum Experience</a>
        <p class="description2">Come back here when you're ready to explore quantum hardware!</p>
        <a href="{{ url_for('home') }}" class="buttonIBM">Start exploring...</a>
    </div>
{% endblock %}