{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <p class="description1">Are you new to quantum computing or need a recap?</p>
        <hr class="separator1">
        <p class="description2">Click the button for a quick introduction to Quantum computing with IBM</p>
        <a href="https://learning.quantum.ibm.com/course/quantum-business-foundations/quantum-computing-fundamentals" class="buttonIBM">IBM Quantum Learning</a>
        <p class="description3">Come back here when you're ready to explore quantum hardware!</p>
        <a href="{{ url_for('quantumar') }}" class="buttonIBM2">Start exploring...</a>
    </div>
{% endblock %}